#MMM-Linky {
  max-width: 350px;
  margin: 0 auto;
  overflow: hidden;
  word-wrap: break-word;
}

#MMM-Linky_Energie {
  text-align: left;
  font-size: 16px;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.2;
  margin-top: 10px;
}

#MMM-Linky_Energie.red {
  color: red;
}

#MMM-Linky_Energie.yellow {
  color: yellow;
}

#MMM-Linky_Energie.green {
  color: green;
}

#energyChart {
  width: 100% !important;
  height: 300px;
  margin-top: 20px;
}

.chartjs-render-monitor {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}
